
.box_menu{
    text-align: right; 
    padding-top: 3px; 
    padding-bottom: 3px;
    min-width: 300px;
    background-color: #d0d0d0; /*00a65a*/
    text-align: right;
}
.r5{
    border-radius: 5px;
 }
 .r3{
    border-radius: 3px;
 }
 td{padding:3px;} 
        
.box_pos{
    min-height: 550px; 
    background-color: white;

} 
.box_item{
    padding : 0px 10px  10px 10px; 
    min-height: 550px; 
    background-color: #d0d0d0;
}

.box-icon{
    min-height: 80px; 
    color: #5B92FF;
}

.pos-menu-icon{
    font-size: 23px; 
    text-align: center;
    border:1px solid #5B92FF;
    border-radius: 40%;
    min-height: 100px;
    padding-top: 25px;
    margin-bottom: 20px;
}

.pos-menu-icon:hover{ 
    background-color: #5B92FF;
    color: white; 
}

.login_container{ 
    padding : 0px 20px  10px 20px; 
    min-height: 550px; 
    background-color: #fff; 
}

.box_login {
    /*border : 1px solid #dd750c;*/
    border-radius: 3px;
    min-height: 200px; 
    padding: 0px;
    margin-top: 50px;
 }

 .r5{
    border-radius: 5px;
 }
 .r3{
    border-radius: 3px;
 }

.menu{
    min-height: 30px;
    width: 110px; 
    float: right;
    margin: 0px 2px 0px 2px;
    padding: 5px 5px 5px 5px;
    text-align: center;
 }

 .menu:hover{ 
    background-color: blue; 
 }

 .menu-pay{
    min-height: 30px;
    width: 110px; 
    float: right;
    margin: 0px 2px 0px 2px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: #0029f7;
    color: white
 }
 .menu-clear{
    min-height: 30px;
    width: 110px; 
    float: right;
    margin: 0px 2px 0px 2px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: #f34920;
    color: white; 
 }

 .menu-hold{
    min-height: 30px;
    width: 110px; 
    float: right;
    margin: 0px 2px 0px 2px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background-color: #9ca40c;
    color: white;
 }


 .menu-hold:hover{ 
    background-color: #b7c108; 
 }

 .menu-clear:hover{ 
    background-color: #e47459; 
 }

  .menu-pay:hover{ 
    background-color: blue; 
 }



.hitam{
    background-color: #010c1a;
    color: white;
 }

 .ungu{
    background-color: #a416c0;
    color: white;
 }

 .hijau{
    background-color: #1bd109;
    color: white;
 }

 .aqua{
    background-color: #01d8c2;
    color: white;
 }

 .merah{
    background-color: #eb655f;
    color: white;
    float: left
 }

 .dark{
    background-color: #4b474c;
    color: white; 
 }

 .box-scan{
    background-color: #d0d0d0;
    padding: 0px;
    height: 430px;
    border: 1px solid #b8b9b8;
 }
 .box-list-scan{ 
    height: 280px;
    overflow-y: scroll; 
    background-color: white;
    padding: 0px; 
 }

 .box-list-produk{
    background-color: #b4bfb4;
    height: 460px;
    overflow-y: scroll; 
 }

 .box-total-harga{
    background-color: #00a65a ;
    height: 97px;
 }

 .trd{
    background-color: #f4ab6a;
 }

.del-item{
    color: red;
}

.del-item:hover{
    color: #454;
}

.edit-item{
    color: #235432;
}

.edit-item:hover{
    color: #454;
}

.text-item{
    color: white;
    font-size: 12px;
}

.text-item-temp{
    color: black; 
}

.textbox-transparan{
    width: 20px;
    background-color: transparent;
    border-color: transparent;
}

.box-list-produk{
    background-color: #b4bfb4;
    padding: 10px;
    height: 430px;
    margin-bottom: 20px;
}

.slider-ads{
    height: 25px; 
    margin: 0px 0px 5px 0px;
    color: white;
    font-weight: bold;
    background-color: #234;
}
.produk{
    height: 130px;
    border: 2px solid #8c8b8a; /*c8ed0f*/
    padding: 0px;
    border-radius: 3px; 
}

.produk:hover{
    border: 2px solid #464949;
    color: red;
}

.image-produk{
    height: 90px;
    border-bottom: 2px solid #a3a1a0;
    background-color: white;
}

.title-produk{  
    height: 35px;
    background-color: white;
    padding: 1px 1px 1px 1px;    
    font-size: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.title-produk:hover{    
    font-size: 10px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.btn-edit{
    background-color: transparent;
    border-color: transparent;
    width: 5px;
    margin: 0px;
    color: #d0d0d0;
}

.small-modal{
    min-height: 100px;
    background-color: white; 
    border : 2px solid #d0d0d0;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right
}

.dataTables_paginate {
    margin-top: 15px;
    position: absolute; 
    left: -30%; 
}

.img-card{
     border: 2px solid #d0d0d0;
}

.img-card:hover{
     border: 2px solid #9a9a1c;
}

.td-pay{
    padding: 7px 5px 7px 5px;
}

.texpay-trans{
    border: transparent;
    max-width: 120px;
    background-color: #496ff1;
    font-weight: bold;
    color: white;
    padding: 7px 5px 7px 15px;
    font-size: 14px;
}

.texkembali-trans{
    border: transparent;
    max-width: 120px;
    background-color: #d09057;
    font-weight: bold;
    color: white;
    padding: 7px 5px 7px 15px;
    font-size: 14px;
}

.drop-trans{
    width: 180px; 
    font-weight: bold; 
    display: inline;
}

.box-bills-history{
    height: 800px;
    overflow-y: scroll;
    margin-top: 10px;
    background-color: white;

}

.box-single-bill{
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin-bottom: 25px;
    padding: 10px 5px 20px 5px;
}

.actived{
    background-color: blue;
}

.aktif{
    border: 1px dotted white;
    border-radius: 3px;
    /*background-color: blue;*/
}

.list_menu{
    background-color: #efa43e;
    border: 1px solid #db8004;
    margin: 5px;
    padding: 5px;
    color: #fff;
}

.list_menu:hover{
    background-color: #e78704;
}