.bg-load-ringx{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:0;
  padding:0;
  background: #262626;
  /* background-color: rgba(00, 00, 00, 0.8); */
  z-index: 99999;
}

.ringx{
  position: fixed;
  z-index: 99999999;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  /* background: transparent; */
  /* background: #262626;
  border: 3px solid #3c3c3c; */
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: orange;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  /* text-shadow: 0 0 10px orange;
  box-shadow: 0 0 20px rgba(0,0,0,0.5); */
}

@media (max-width:480px){
  .ringx{
    width: 150px;
    height: 150px;
  }
}
@media (min-width:768px){
  .ringx{
    width: 150px;
    height: 150px;
  }
}

.ringx:before{
  content:'';
  position: fixed;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid orange;
  border-right: 3px; solid orange;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}

.ringx > #txt_span{
  display: block;
  position: fixed;
  top: calc(50% - 2%);
  left: 50%;
  width: 50%;
  height:4px;
  background-color: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.ringx > #txt_span:before{
  content: '';
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: orange;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px orange;
}

.ringx > .img {
  background-image: url("../img/icon2.png");
  background-size: cover;
  margin-top:10px;
  margin-left:-5px;
  width: 100%;
  height: 80%;
}

.ringx-content > #slides_mood{
  position: fixed;
  z-index: 99999999;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  left: 0;
  right: 0;
  padding:10px;
  text-align: center;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 0 10px orange;
  font-family: 'Lora', serif;
}

@keyframes animateCircle{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

@keyframes animate{
  0%{
    transform: rotate(45deg);
  }100%{
    transform: rotate(405deg);
  }
}
